@import 'colors';

.nav-mobile-container {
  height: 50px;
  width: 100vw;
  background: $navbar-background-2;
  color: inherit;

  display: grid;
  grid-template-columns: 2fr 4fr 6fr; // 2/12, 4/12, 6/12

  .nav__content-container {
    border: solid red 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    .nav-mobile__icon-container {
      
      border: dashed green 2px;

      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      
      svg {
        height: 24px;
        width: 24px;

        &#hamburger {
          height: 36px;
          width: 36px;
        }
      }
    }

  }

}