@import 'colors';

.nav__mobile-container {
  height: 50px;
  width: 100vw;
  background: $navbar-background-2;
  color: inherit;

  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;

  .nav__content-container {
    // border: solid red 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

}