.side-drawer {  position: fixed;
  z-index: 1;
  // top: 0;
  $side-drawer-width: 200px;
  right: -$side-drawer-width;
  width:  $side-drawer-width;
  height: 100vh;
  background: darkorchid;
  color: white;

  .side-drawer__section-1 {
    height: 100px;
    width: 100px;
    border: solid hotpink 5px;
  }
  &__section-2 {
    
  }
  &__section-3 {
    
  }
}