// -Systematic methodology of organizing style rulesets
//  --Least common at top
//  --How to systematically handle @media-queries?
// 0: position and top/right/left/bottom
// 0.1: z-index
// 1: display
// 2: height/width/padding/margin
// 3: background/color
// 4: font-size

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;

  main {  position: relative;

    // .side-drawer { position: fixed; }
    @import 'side-drawer';

    // .overlay { position: fixed; }
    @import 'overlay';

    // .blur-container { position: absolute; }
    @import 'blur-container';
  }
}

.container {
  width: 100%;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  // margin-right: auto;
  // margin-left: auto;
  border: solid yellowgreen 5px;
}