.nav-desktop {
  height: 100%;
  width: 100%;
  
  .nav__top {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;  // 2/12, 8/12, 2/12
    width: 100%;
    height: var(--desktop-bar-1-height);
    padding-right: 1%; // makes 'Sign In' look good on smaller desktop
    background: $background-2;

    .content-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // border: dashed 1px red;
      ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.1em;
        
        li {
          display: flex;
          justify-content: center;
          width: 100%;
          &:not(:last-child) {
            border-right: solid black 1px;
          } // &:not(:last-child)
        } // li
      } // ul

    } // .content-container
  } // .nav__top

  .nav__bottom {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; // 1/7, 5/7, 1/7
    width: 100%;
    height: var(--desktop-bar-2-height);
    background: $background-1;

    .content-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        font-size: 1.4em;
        height: 100%;

        a {
          display: flex;
          align-items: center;
          
          height: 100%;
          
          // border: dashed hotpink 2px;
          transition: border 0.2s ease, background 0.2s ease;

          &:hover, &.clicked {
            // background: rgba(0, 0, 0, 0.02);
            border-bottom: solid black 3px;
          }
        }
      }
  
    } // .content-container
  } // .nav__bottom
} // .nav__desktop