@import 'colors';

.nav__mobile-container {
  height: 50px;
  width: 100vw;
  border: solid 1px orange;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .nav__content-container {
    // border: solid red 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}