@import 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { position: relative; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

nav { position: fixed;
  height: 100px;
  width: 100%;
  color: $navbar-color;

  @import 'navbar-mobile';
  @media screen and (max-width: 1024px) {
    &#nav__non-mobile { display: none; }
  }

}

@import 'side-drawer';

