nav {  position: sticky; // position: fixed jumpst to top upon blur!
  top: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:$background-1;

  @import 'nav-mobile';
  @import 'nav-desktop';

  @media screen and (max-width: 1024px) { // x <= 1024
    & { height: var(--mobile-nav-height); }
    .nav-mobile  { display: grid; }
    .nav-desktop { display: none; }
  }

  @media screen and (min-width: 1025px) { // 1025 <= x
    // & { height: $desktop-nav-height; } // not needed because bars hard coded in px-size
    .nav-desktop { display: grid; }
    .nav-mobile  { display: none; }
  }
}