* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  background: black;
}

#section-1 {
  background: deepskyblue;
  height: 100vh;
}

#section-2 {
  background: darkorchid;
  height: 100vh;
}

#section-3 {
  background: darkturquoise;
  height: 100vh;
}

.box {
  height: 100px;
  width: 100px;
  background: deeppink;
}
