* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: #111;
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: inherit;
}

body main {
  position: relative;
}

body main .side-drawer {
  position: fixed;
  z-index: 2;
  right: -200px;
  width: 200px;
  height: 100vh;
  background: #fff;
}

body main .side-drawer .side-drawer__section-1 {
  height: 100px;
  width: 100px;
  border: solid hotpink 5px;
}

body main .overlay {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0);
}

body main .blur-container {
  position: absolute;
  top: 0px;
}

body main .blur-container nav {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

body main .blur-container nav .nav__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  background: white;
}

body main .blur-container nav .nav__content-container svg {
  background: inherit;
}

body main .blur-container #section-1 {
  height: 100vh;
  width: 100vw;
  background: deepskyblue;
}

body main .blur-container #section-1 .carousel {
  width: 100%;
  height: 60px;
}

body main .blur-container #section-1 .carousel .carousel-inner {
  position: relative;
  height: 100%;
}

body main .blur-container #section-1 .carousel .carousel-inner .carousel-item {
  position: absolute;
  left: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body main .blur-container #section-1 .carousel .carousel-inner .carousel-item:nth-child(1) {
  border: solid green 5px;
}

body main .blur-container #section-1 .carousel .carousel-inner .carousel-item:nth-child(2) {
  border: dashed hotpink 5px;
}

body main .blur-container #section-1 .hero {
  border: dashed 5px hotpink;
}

body main .blur-container #section-2 {
  height: 100vh;
  width: 100vw;
  background: darkorchid;
}

.container {
  width: 100%;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  border: solid yellowgreen 5px;
}
