* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  color: #111111;
}

nav .nav__mobile-container {
  height: 50px;
  width: 100vw;
  background: #FFFFFF;
  color: inherit;
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
}

nav .nav__mobile-container .nav__content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  nav#nav__non-mobile {
    display: none;
  }
}

nav .nav__top {
  height: 50px;
  background: #F5F5F5;
  color: inherit;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

nav .nav__top .nav__content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .nav__top .nav__content-container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style-type: none;
  font-size: 1.0em;
  color: inherit;
}

nav .nav__top .nav__content-container ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav .nav__top .nav__content-container ul li:not(:last-child) {
  border-right: solid black 1px;
}

nav .nav__top .nav__content-container ul li a {
  text-decoration: none;
  color: inherit;
}

nav .nav__bottom {
  height: 50px;
  background: #FFFFFF;
  color: inherit;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
}

nav .nav__bottom .nav__content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .nav__bottom ul.nav__content-container {
  height: 100%;
  width: 100%;
  list-style-type: none;
  font-size: 1.8em;
  color: inherit;
}

nav .nav__bottom ul.nav__content-container a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1025px) {
  nav#nav__mobile {
    display: none;
  }
}

#side-drawer {
  position: absolute;
  display: none;
  right: -200px;
  width: 200px;
  height: 100vh;
  background: red;
  opacity: 0.4;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  #side-drawer {
    display: flex;
  }
}

#section-1 {
  background: deepskyblue;
  height: 100vh;
}

#section-2 {
  background: darkorchid;
  height: 100vh;
}

#section-3 {
  background: darkturquoise;
  height: 100vh;
}

.box {
  height: 100px;
  width: 100px;
  background: deeppink;
}

.hide-below-1105 {
  display: inline;
}

@media screen and (max-width: 1105px) {
  .hide-below-1105 {
    display: none;
  }
}

.hide-below-1162 {
  display: inline;
}

@media screen and (max-width: 1162px) {
  .hide-below-1162 {
    display: none;
  }
}
