$side-drawer-width:  200px;
$side-drawer-shift: -200px;

#side-drawer { position: fixed;
  display: none;
  right: $side-drawer-shift;
  width: $side-drawer-width;
  height: 100vh;
  background: #FFFFFF;
  z-index: 1;

  @media screen and (max-width: 1024px) {
    & { 
      display: flex; 
    }
  }

  .side-drawer__close-button {
    height: 50px;
    width: 50px;
    border: dashed green 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111111;
    font-size: 2em;
  }
}